* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #151414;
	opacity: 1;
	background-image: radial-gradient(#ec4434 1.6px, transparent 1.6px),
		radial-gradient(#ec4434 1.6px, #151414 1.6px);
	background-size: 64px 64px;
	background-position: 0 0, 32px 32px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem;
}

.logo {
	font-size: 2rem;
	text-decoration: none;
	font-weight: bolder;
	color: white;
}

.header-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-right: 1rem;
}

.header-links a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding-right: 1rem;
	font-size: 1rem;
}

.link-item p {
	margin-left: 0.25rem;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 4rem;
	font-size: 2.5rem;
}

.deck-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 10rem;
	font-size: 1.5rem;
}

.btn {
	width: 90%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	background-color: rgb(252, 80, 94);
	border-radius: 25px;
	color: white;
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
	box-shadow: 1px 1px 10px rgb(119, 119, 119);
}

.logout-btn {
	width: 150px;
	height: 50px;
	background-color: #282d31;
	border-radius: 15px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: none;
	box-shadow: 1px 1px 5px rgb(68, 68, 68);
	cursor: pointer;
}

.loadingSpinnerContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingSpinner {
	width: 64px;
	height: 64px;
	border: 8px solid;
	border-color: #000 transparent #555 transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.deck-rules {
	width: 40vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 3rem;
}

.deck-rules p {
	margin-bottom: 1.5rem;
}

.deck-rules li {
	list-style: none;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.scrollable-card-area {
	height: 600px;
	width: 80vw;
	overflow-y: auto;
	padding: 10px;
	display: flex;
	flex-wrap: wrap; /* Allow cards to wrap into multiple rows */
	justify-content: space-around; /* Distribute space between cards evenly */
	background-color: #1a1a1db6;
	border-radius: 15px;
}

.card {
	margin-bottom: 10px;
	width: calc(
		20% - 2rem
	); /* Each card occupies 20% of the container width minus margins */
	margin: 0 1rem;
}

.card img {
	width: 100%; /* Make sure the image fills the entire width of the card */
	height: auto;
}
